
.save-btn:hover {
    font-size: 1.1em;
    background-color: #77dd77;
    transition: all .3s ease-in-out;
  }
  
  .col-one-content {
    margin-bottom: 20px;
  
  }
  
  h3 {
    font-size: 18px;
  }
  
  .row {
    display: flex; 
    flex-direction: row;
    justify-content: center;
  }
  
  .smll-row {
    display: flex; 
    flex-direction: row;
  }

  .save-item {
    text-align: center;
  }

  .task-list-container {
    padding: 0 120px;
    height: 150px;

  }

  .task-list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .new-task {
    display: flex;
  }

  .show-btn {
    padding: 8px;
    border-radius: 8px;
    border-style: none;
    background-color:gray;
    color: honeydew;
    font-family:Arial, Helvetica, sans-serif;
  }
